.jumbotron {
    background-image: url("/img-placeholder.jpg");
    background-size: cover;
    color: white;
    height: 500px;
    font-size: 3em;
    text-align: center;
    border-bottom: 5px dashed white;
}

body {
    background-image: url("/wallpaper.jpg");
}

#blogCard {
    margin: 10px;
    float: left;
    color: white;
    border: 2px solid white;
    max-width: 100%;
}

#addBlog {
    margin: 20px;
    background-color: rgb(194, 66, 34);
    padding: 20px;
}

.navbar.navbar-expand-lg li a {
    color: white;
}

.display-4 {
    position: static;
    left: 280px;
    top: 280px;
    size: 10em;
    text-shadow: 3px 3px grey;
    line-height: 7;
}

.lead {
   position: static;
    /* left: 300px;
    top: 350px; */
    text-shadow: 2px 2px grey;
}

#loginIn {
    margin: 20px;
    background-color: rgb(194, 66, 34);
    padding: 20px;
}
